$main-blue: #0ACDFF;
$accent-blue: #0898CC;
$light-blue: #A3DDF3;
$ultra-light-blue: #A3DDF370;
$dark-blue: #06B0D8;
$navy-blue: #004E7A; 
$main-grey: #AEAEAE; 
$dark-grey: rgb(73, 73, 73);
$light-grey: #e7e7e7; 