@import './variables';

header{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $main-grey;
    position: relative;
    border-bottom: 1px solid $main-grey;
    z-index: 99;
    background-color: white;

    .header-info{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        h2{
            font-size: 1.1rem;
        }
    }
    .account{
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;

        .header-grid-icon{
            width: 2rem!important;
        }

        p{
            margin-right: 0.5rem;
        }
    }
}

